$font: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

//Colors
$white: #fff;
$black: #000;
$maroon: #83333e;
$off-white: #f2f4f5;

html,
body {
  font-family: $font;
  font-size: 16px;
}

.container {
  width: 1640px;
  min-width: 1640px;
  margin: 0 auto;
  @media (max-width: 1440px) {
    width: 1280px;
    min-width: 1280px;
  }
  @media (max-width: 1280px) {
    width: 976px;
    min-width: 976px;
  }
  @media (max-width: 976px) {
    width: 768px;
    min-width: 768px;
  }
}

//Header
header {
  height: 80px;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 10;
  .inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    .logo {
      a {
        font-weight: 700;
        text-decoration: none;
        letter-spacing: 1.5px;
        color: $black;
      }
    }
    .navigation {
      nav {
        a {
          margin: 0 20px;
          text-decoration: none;
          letter-spacing: 1.75px;
          text-transform: uppercase;
          font-size: 0.75rem;
          color: $black;
          &:last-child {
            margin-right: 0px;
          }
        }
      }
    }
  }
}

//Banner
.banner {
  display: flex;
  align-items: center;
  background-color: $white;
  position: relative;
  height: 100vh;
  .row {
    position: relative;
    .main-text {
      font-size: 5.8rem;
      text-transform: uppercase;
      letter-spacing: 42px;
      font-weight: 700;
      color: $white;
      position: absolute;
      width: 100%;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      mix-blend-mode: difference;
      z-index: 9;
      @media (max-width: 1440px) {
        font-size: 4.4rem;
        letter-spacing: 36px;
      }
    }
    .main-image {
      width: 536px;
      margin: 0 auto;
      @media (max-width: 1440px) {
        width: 436px;
      }
    }
    .side-image {
      width: 260px;
      position: absolute;
      @media (max-width: 1440px) {
        width: 208px;
      }
      &.left {
        left: 168px;
        top: 12px;
        @media (max-width: 1440px) {
          left: 128px;
        }
      }
      &.right {
        right: 168px;
        bottom: 12px;
        @media (max-width: 1440px) {
          right: 128px;
        }
      }
    }
  }
  .scroll {
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 1.5px;
    color: $black;
    text-transform: uppercase;
    position: absolute;
    bottom: 48px;
  }
}
